# Dependencies
node_modules/

# Environment Variables
.env

# Logs
logs/
*.log

# Coverage
coverage/

# Runtime Data
pids/
*.pid
*.seed

# Nodemon
.nodemon

# MongoDB
*.wt
*.lock

# OS Files
.DS_Store
Thumbs.db